<div class="menu-container">
    <h1 class="ppp">Menu</h1>
    <div class="row margin-left-150">
      <div class="outer-div">
        <div class="jumbotron col-xs-2">
          <a href="about">
            <img src="../../../assets/imgs/moriah_smile.jpg" />
          </a>
          <h3 class="menu-subtitle">Moriah W. <i class="material-icons">expand_less</i>
            <h6>CEO Moriah Wade, tells her story of how she got started and shares her inspirations and
              motivation...
            </h6>
          </h3>
        </div>
        <div class="jumbotron col-xs-2">
          <a href="mopreps">
            <img src="https://s3.us-east-2.amazonaws.com/mostuff/preps/veganBowl.jpeg"/>
          </a>
          <h3 class="menu-subtitle">Mo Preps <i class="material-icons">expand_less</i>
            <h6> Sign up and get started today with Mo Preps. Inside is filled with details on
              meal preparations and healthy tips for living a better life and all it takes is
              one step with Mo Preps...
            </h6>
          </h3>
        </div>
        <div class="jumbotron col-xs-2">
          <a href="mofit">
            <img src="../../../assets/imgs/mofit_profile_main.jpg" />
          </a>
          <h3 class="menu-subtitle">Mo Fit <i class="material-icons">expand_less</i>
            <h6> Here we offer the best fitness programs that cater to getting you into shape.
              click inside to see more...
            </h6>
          </h3>
        </div>
        <div class="jumbotron col-xs-2">
          <a href="mospirit">
            <img src="../../../assets/imgs/scriptures.jpeg" />
          </a>
          <h3 class="menu-subtitle">Mo Spirit <i class="material-icons">expand_less</i>
            <h6>The soul is made up of mind, body and spirit. Inside Moriah shares her insight and
              helps you to have a purposeful life by empowering your spirit. see more...
            </h6>
          </h3>
        </div>
        <div class="jumbotron col-xs-2">
          <a href="mosweets">
            <img src="../../../assets/imgs/sweets.jpeg" />
          </a>
          <h3 class="menu-subtitle">Mo Sweets <i class="material-icons">expand_less</i>
            <h6> That's... right, mo sweets is all about sharing delightful and delicious treats with you.
              click inside to find just what you have a taste for...
            </h6>
          </h3>
        </div>
      </div>
    </div>
    <div class="bottom">Hide Me</div>

</div>
