<div id="moSpirit">
  <app-menu  *ngIf="toggle"></app-menu>
  <img class="background-image-class" src="../../assets/imgs/pink.jpg" alt="">
  <div class="menu-animation">
    <img
      (click)="showMenu()"
      class="back_button"
      src="../../assets/imgs/menuIcon.png"
      alt="back_button">
  </div>
  <div class="meal-class">
    <h1>Spiritual Enlightenment</h1>
    <h3>Created to empower and enlighten your spiritual journey. Designed to fit your lifestyle.</h3>
    <h5>You can always mix and match workouts across the platform to form what works for you.</h5>
  </div>
</div>
<!--<app-payment-request [amount]="19" [label]="'Test'"></app-payment-request>-->
<!--<app-signup></app-signup>-->
